.droppable-element {
  width: 100%;
  text-align: center;
  background: #fdd;
  border: 1px solid black;
  margin: 10px 0;
  padding: 10px;
}

.row {
  .col {
    text-align: center;
    width: 65px;

    .icon {
      cursor: pointer;
      height: 65px;
      line-height: 65px;
      font-size: 40px;
      color: #999;
      &:hover {
        color: #333;
        background-color: #f6f6f6;
      }
    }
  }
}
